body {
    font-family: "Cascadia Mono";
}
h1 {
    background-color: aqua;
    font-size: 65px;
    padding: 25px;
    margin-top: 0px;
}
button {
    background-color: white;
    animation: switchcol2 0.2s linear 0s 1 normal;
    border-radius: 5px;
    border-width: 3px;
    size: 150px;
    font-size: larger;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -50px;
    margin-right: 5px;
}
h2 {
    font-size: 45px;
}
p {
    line-height: 8px;
}
.big {
    font-size: 30px;
}
.login {
    position: absolute;
    right: 0.5%;
    margin-top: -15px
}
button:hover {
    animation: switchcol 0.2s linear 0s 1 normal;
    background-color: black;
    color: white;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes switchcol {
    from {
        background-color: white;
        color: black
    }
    to {
        background-color: black;
        color: white;
    }
}

@keyframes switchcol2 {
    from {
        background-color: black;
        color: white;
    }
    to {
        background-color: white;
        color: black;
    }
}